
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .header {
        background-color: rgb(187, 203, 248);
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 24px;
        font-weight: bold;
      }
      .menu{
        background-color: aquamarine;
        text-align: center;
        padding: 15px;
        font-weight: bold;
      }
      .container{
        display: flex;
        min-height: 400px;
      }
      .sidebar{
        background-color: beige;
        text-align: center;
        padding: 20px;
        color: white;
        font-weight: bold;
      }
      .content{
        background-color: blue;
        flex: 2;
        padding: 20px;
        text-align: center;
        color: white;
        font-weight: bold;
      }
      .footer{
        background-color: antiquewhite;
        text-align: center;
        padding: 15px;
        color: aqua;
        font-weight: bold;
      }